<div class="events">
    <span>Eventos</span>
    <div class="content-events">
        <div class="event-block first">
            <div class="event-title">
                <span class="bold">10 de Janeiro, 2020</span>
                <a class="decoration-none" href="https://www.worldtattooevents.com/goa-ink-show/">Leia mais</a>
            </div>
            <div class="event-content">
                <a href="https://www.worldtattooevents.com/goa-ink-show/"><img src="../../../static/img/evento1.jpeg" height="150" width="260"><br></a>
                <p>It’s the first annual international tattoo festival ! <b>GOA INK SHOW</b> will bring together some the best international tattoo artists in the world and mix that in with the amazing tattoo talent of some of India’s best tattoo artists !!</p>
            </div>
        </div>
        <div class="event-block">
            <div class="event-title">
                <span class="bold">11 de Janeiro, 2020</span>
                <a class="decoration-none" href="https://www.worldtattooevents.com/salon-de-tatouage-toulouse/">Leia mais</a>
            </div>
            <div class="event-content">
                <a href="https://www.worldtattooevents.com/salon-de-tatouage-toulouse/"><img src="../../../static/img/2020-Salon-de-Tatouage-Toulouse.jpg" height="300" width="260"><br></a>
                <p>For This 13th Edition, we will make you discover artists from Brazil, Germany, Italy, Switzerland, Canada, Russia, England, Argentina, Mexico, Netherlands, Siberia, Austria, an edition not to be missed!!!!!!!!</p>
            </div>
        </div>
        <div class="event-block">
            <div class="event-title">
                <span class="bold">17 de Janeiro, 2020</span>
                <a class="decoration-none" href="https://www.worldtattooevents.com/philadelphia-tattoo-arts-convention/">Leia mais</a>
            </div>
            <div class="event-content">
                <a href="https://www.worldtattooevents.com/philadelphia-tattoo-arts-convention/"><img src="../../../static/img/Philadelphia-Tattoo-Arts-Banner-2020.jpg" height="150" width="260"><br></a>
                <p>Is coming to Philadelphia Convention Center, January 17th-19th 2020. Villain Arts is excited to host a bigger & better show this year. <b>The Philadelphia Tattoo Arts Convention</b> is for industry professionals and tattoo lovers as well. General public is welcome.</p>
            </div>
       </div>

    </div>
    <div class="m-top-1 display-flex row-reverse">
        <a class="color-black decoration-none text-mute" href="https://www.worldtattooevents.com">Mais...</a>
    </div>
</div>
