<div class="personal-menu">
    <a href="{% url 'perfil:show' user.username %}" class="personal-menu-link">
        <span>Perfil <i class="fas fa-user"></i></span>
    </a>
{#    {% if user.user_type_id == 1 %}#}
{#        <a href="#" class="personal-menu-link">#}
{#            <span>Publicações <i class="fas fa-images"></i></span>#}
{#        </a>#}
{#        <a href="#" class="personal-menu-link">#}
{#            <span>Seguidores <i class="fas fa-users"></i></span>#}
{#        </a>#}
{#    {% else %}#}
{#        <a href="#" class="personal-menu-link">#}
{#            <span>Seguindo <i class="fas fa-users"></i></span>#}
{#        </a>#}
{#    {% endif %}#}
</div>