<div class="chat">
    <div class="chat-header" data-action="hide-chat">
        <span class="username">Herikle Mesquita</span>
        <i class="fas fa-times"></i>
    </div>
    <div class="chat-body">
        <div class="message other">
            <span class="avatar empty-avatar"></span>
            <span class="line">Mensagem teste outro mandado</span>
        </div>
        <div class="message me">
            <span class="avatar empty-avatar"></span>
            <span class="line">Mensagem teste eu mandando</span>
        </div>
    </div>
    <div class="chat-footer">
        <form method="POST" action="" style="margin:0">
            <input placeholder="Envie uma mensagem" autocomplete="off" name="message">
        </form>
    </div>
</div>